@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  transform: translateZ(0);
  transform-style: preserve-3d;
}

.title .text {
  font-family: sans-serif;
  font-weight: 400;
  font-size: calc(20vw / var(--word-total));
  line-height: 1;
}

.title .write .word {
  color: hsl(0, 0%, 80%);
  text-shadow: 0 0 0.1em currentColor;
  transform-style: preserve-3d;
  animation: write linear both;
}

.title .laser {
  position: absolute;
  top: 0;
  left: 0;
  /* To avoid the blur getting masked by the clip-path we had to duplicate the element */
  filter: blur(4px) contrast(10);
  pointer-events: none;
}

.title .laser .word {
  display: inline-block;
}

.title .laser .word {
  color: hsl(0, 100%, 75%);
  text-shadow: 0 0 0.1em currentColor;
  transform: translateZ(5px);
  animation: laser linear both;
}

.title .write .word,
.title .laser .word {
  animation-duration: 4s;
  animation-delay: calc(0.3s + var(--word-index) * 160ms);
  animation-iteration-count: infinite;
}

.title:hover .word {
  animation-play-state: paused;
}

/* .title .text .word,
.title .text .word::before {
  animation-play-state: paused;
  animation-delay: -0.4s;
} */

@keyframes write {
  from,
  30% {
    clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%);
  }
  70%,
  to {
    clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%);
  }
}

@keyframes laser {
  from,
  30% {
    clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%);
  }
  70%,
  to {
    clip-path: polygon(115% 0%, 120% 0%, 120% 100%, 115% 100%);
  }
}

@layer base {
  html {
    @apply scroll-smooth font-[inter];
  }
  nav {
    @apply shadow-md w-screen fixed top-0 left-0  z-10;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }

  p,
  li {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }

  footer {
    @apply bg-zinc-900 py-16 grid place-content-center gap-y-4;
  }

  strong {
    @apply relative z-20 font-[inter] text-white tracking-widest text-2xl;
  }
}

@layer components {
  /* Navbar */
  .nav-design {
    @apply lg:flex items-center justify-between bg-zinc-900 py-4 lg:px-10 px-7;
  }

  .nav-dropdown {
    @apply lg:flex lg:items-center lg:pb-0 pb-6 absolute lg:static bg-zinc-900 lg:bg-transparent lg:z-auto z-[-1] left-0 w-screen h-screen lg:h-0 lg:w-auto lg:pl-0 pl-9 transition-all duration-500 ease-in;
  }

  .logo {
    @apply cursor-pointer flex items-center w-40;
  }

  .menu {
    @apply text-3xl absolute right-8 top-6 cursor-pointer lg:hidden;
  }

  .nav-links {
    @apply lg:ml-8 text-lg lg:text-base xl:text-xl lg:my-0 my-7 text-[#f3f4f4] font-bold;
  }

  .nav-links-design {
    @apply hover:text-gray-400 duration-500;
  }

  /* SectionOne and Research Program */

  .section-one-text {
    @apply text-center font-extrabold mx-5 space-y-4 text-zinc-900;
  }

  .section-one-headline {
    @apply text-3xl md:text-4xl lg:text-5xl font-normal text-zinc-900;
  }

  .card-layout {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;
  }

  .card-design {
    @apply even:bg-zinc-900 text-[#f3f4f4] odd:bg-[#dc143c] px-14 py-10 rounded-xl flex flex-col justify-center items-start space-y-5;
  }

  .card-heading {
    @apply font-extrabold text-xl sm:text-2xl lg:text-3xl break-words;
  }

  .card-description {
    @apply font-medium text-base sm:text-lg md:text-xl;
  }

  /* SectionTwo */
  .introTwo {
    @apply bg-zinc-900 text-[#f3f4f4] py-20 px-4 md:px-20 space-y-8;
  }

  /* SectionThree */

  .introThree {
    @apply bg-[#f3f4f4] text-zinc-900 py-20 px-4 md:px-20 space-y-8;
  }

  .rect {
    @apply bg-zinc-900 h-2 w-full;
  }

  /* Footer */

  .footer-text {
    @apply flex flex-col items-center text-[#f3f4f4] space-y-4 md:text-xl font-bold;
  }

  /* Apply */

  .apply-headline {
    @apply text-zinc-900 text-left font-extrabold text-2xl;
  }

  /* ContactUs */

  .contactus-headline {
    @apply text-zinc-900 text-right font-extrabold text-2xl;
  }

  /* ResearchButton */

  .research-btn-bg {
    @apply bg-[#dc143c] text-[#f3f4f4] py-40 px-4 md:px-20 space-y-8 grid place-content-center;
  }

  .glow {
    @apply absolute flex w-12;
  }

  .container-stars {
    @apply fixed z-[-1] w-full h-full overflow-hidden transition duration-500 backdrop-blur-lg rounded-[5rem] hover:z-[1] hover:bg-[#212121];
  }

  .research-btn {
    @apply flex justify-center items-center w-72 h-24 backdrop-blur-lg rounded-[5rem] transition duration-500 animate-gradient-301 border-double border-8 border-transparent bg-origin-border;
    /* bg-gradient-to-br from-gray-900 to-gray-900 bg-fixed bg-cover bg-blend-multiply hover:z-[1] hover:bg-[#212121] hover:scale-110  active:border-double active:border-[#fe53bb] active:animate-none active:bg-[#fe53bb] */
  }

  .research-btn:hover {
    @apply z-[1] bg-[#212121] scale-110;
  }

  .research-btn:active {
    @apply border-double border-[#fe53bb] animate-none bg-[#fe53bb];
  }

  .circle {
    @apply w-full h-8 blur-[2rem] animate-pulse_3011 z-[-1] first-of-type:bg-[#fe53baa2] last-of-type:bg-[#8e51eab4] active:bg-[#fe53bb];
  }

  .stars {
    @apply relative bg-transparent w-[200rem] h-[200rem];

    /* after:content-[''] after:absolute after:-top-40 after:-left-[100rem] after:w-full after:h-full after:animate-animStarRotate after:bg-[size:50px] */
  }

  .stars::after {
    @apply content-[''] absolute -top-40 -left-[100rem] w-full h-full animate-animStarRotate bg-[size:50px] bg-[];
  }

  .stars::before {
    @apply content-[''] absolute top-0 -left-2/4 w-[170%] h-[500%] animate-animStar opacity-50;
  }

  .stars::after,
  .stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
}
